<h1> Editing translation </h1>

<%= form_with(model: @translation, local: true) do |form| %>
    <div class="field">
        <%= form.label :input %>
        <%= form.text_field :input %>
    </div>
    <div class="actions">
        <%= form.submit %>
    </div>
<% end %>

<%= link_to 'Show', @translation %>
|
<%=link_to 'Back', translations_path %>
