<h1 class="page-header"> Listing translations</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Input</th>
      <th>Output</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @translations.each do |translation| %>
      <tr>
        <td> <%= translation.input%> </td>
        <td> <%= translation.output%> </td>
        <td> 
          <div class="btn-group">
            <%= link_to 'Show', translation, class: 'btn btn-default' %>
            <%= link_to 'Edit', edit_translation_path(translation), class: 'btn btn-default'%>
            <%= link_to 'Destroy', translation, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %> 
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= form_with(model: @translation, local: true) do |form| %>
    <%= react_component("NewTranslation", {translation: @translations})%>
<% end %>