<p id="notice"<%= notice %></p>

<h1 class="page-header">
  Showing translation #<%=@translation.id%>
</h1>

<p>
  <b>Original:</b>
  <%=@translation.input%>
</p>
<p>
  <b>Translated:</b>
  <%= @translation.output %>
</p>

<div class="btn-group">
  <%= link_to 'Edit', edit_translation_path(@translation), class: 'btn btn-default' %>
  <%= link_to 'Back', translations_path, class: 'btn btn-default' %>
</div>